.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    align-items: stretch;
}

.wrapper>* {
    flex: 1 100%;
}

.header {
    background: #8898B9;
}

.main {
    text-align: left;
    background:#F5F7F7;
    scroll-behavior: smooth;
}

.general-info {
    border-radius: 20px;
    text-align: left;
    float: right;
    background: #89A0FF;
    margin-left: 10vw;
    margin-top: 7vh; 
    margin-right:10vw;
    padding-right: 1vw; 
}
.general-info td {
    color: #F5F7F7;
    padding-left: 1vw;
    font-size: 12pt;
}

.aside-left {
    min-height: 100vh;
    max-width: 15vw;
    background: #89A0FF;
    color: #F5F7F7;
}

.aside-left nav ul {
    text-align: left;

}

.aside-right {
    background: #8898B9;
    margin-left: auto;
    min-height: 100vh;
    max-width: 10vw;
    color: #F5F7F7;
}

.navbar .navbar-expand-lg .navbar-light .bg-light {
    text-align: center;
    background: #8898B9;
}

.article {
    border-style: dotted;
    overflow:hidden;
    padding-top: 2vh;
    padding-left: 2vw;
    margin-bottom: 1vh;
}

.article-home p {
   margin-left: 0vw;
}

.article-home img {
    margin-top: 1vh;
    margin-right: 1vw;
    float: left;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.item-1 {
    grid-column-start: 2;
    grid-column-end: 3;
}


.contact-container {
    border-radius: 20px;
    text-align: center;
    background: #89A0FF;
    color: #F5F7F7;
}

#bootstrap-overrides .navlink a:visited {
    color: #010615;
}

#bootstrap-overrides .navlink a:hover, a:active {
    color: #8898B9;
}

#bootstrap-overrides .navlink a {
    color: #F5F7F7;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }

    .aside-left {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-right {
        order: 3;
    }

    .footer {
        order: 4;
    }
}