p {
    font-weight: lighter;
    font-size: 12pt;
    color: #615D6C
}

hr.line-break {
    width: 70%;
    color: #615D6C;
}

a:link {
    color: #615D6C;
}

a:visited {
    color: #615D6C;
}

a:hover {
    color: #ACEDFF;
}

a:active {
    color: #64AAF4;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    align-items: stretch;
}

.wrapper>* {
    flex: 1 100%;
}

.header {
    background: #ACEDFF;
}

.header a:hover {
    color: #64AAF4;
}

.header img {
    width: 22px;
    height: 22px;
}

.main {
    text-align: left;
    background: #CAE5FF;
    scroll-behavior: smooth;
}

.main .hide-this {
    visibility: hidden;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.general-info {
    margin-left: 10vw;
    margin-top: 7vh;
    margin-right: 10vw;
    padding-right: 1vw;
    border-radius: 20px;
    text-align: left;
    float: right;
    background: #64AAF4;
}

.general-info td {
    padding-left: 1vw;
    color: #CAE5FF;
    font-size: 12pt;
}

.aside-left {
    min-height: 100vh;
    max-width: 15vw;
    background: #6F8AB7;
    color: #CAE5FF;
}

.aside-left h4 {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.aside-left li {
    margin-left: 4vw;
    margin-bottom: 1vw;
    text-align: left;
}

.aside-right {
    min-height: 100vh;
    max-width: 15vw;
    background: #6F8AB7;
    margin-left: auto;
    color: #CAE5FF;
}

.aside-right h4 {
    margin: 1vw 2vw 1vw 2vw;
    font-size: 12pt;
}

.aside-right img {
    margin-bottom: 5vh;
    width: 150px;
    height: 200px;
}

.article {
    margin-bottom: 2vh;
    padding-top: 3vh;
    padding-left: 2vw;
    overflow: hidden;
}

.article h4 {
    color: #615D6C;
}

.article-home p {
    margin-left: 0vw;
}


.article-home h2 {
    margin-bottom: 3vh;
    color: #615D6C
}

.article-home img {
    margin-right: 1vw;
    margin-bottom: 5vh;
    width: 200px;
    height: 200px;
    float: left;
}

.article-about img {
    margin-left: 2vw;
    margin-right: 9vw;
    margin-bottom: 5vh;
    width: 250px;
    height: 275px;
    float: right;
}

.article-projects img {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 5vh;
    width: 350px;
    height: 200px;
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.item-1 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.contact-container {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 20px;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 0vh;
    margin-right: 2vw;
    background: #64AAF4;
    color: #CAE5FF;
}

.contact-container h4 {
    color: #CAE5FF;
}

.contact-container p {
    color: #CAE5FF;
}

.contact-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact-1 h4 {
    margin-top: 1vh;
}

.contact-2 {
    text-align: left;
    margin-left: 4vw;
    color: #CAE5FF
}

.contact-3 {
    text-align: left;
}

.footer {
    background: #ACEDFF;
}

.footer p {
    margin-top: 1vw;
    margin-bottom: .5vw;
    color: #615D6C;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }

    .aside-left {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-right {
        order: 3;
    }

    .footer {
        order: 4;
        text-align: center;
    }
}