.wrapper {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    align-items: stretch;
}

.wrapper>* {
    flex: 1 100%;
}

.header {
    background: #8898B9;
}

.main {
    text-align: left;
    background:#F5F7F7;
    scroll-behavior: smooth;
}

.main h2 {
    padding-top: 3vh;
    padding-left: 2vw;
    margin-bottom: 2vh;
}

.general-info {
    border-radius: 20px;
    text-align: left;
    float: right;
    background: #89A0FF;
    margin-left: 10vw;
    margin-top: 7vh; 
    margin-right:10vw;
    padding-right: 1vw; 
}
.general-info td {
    color: #F5F7F7;
    padding-left: 1vw;
    font-size: 12pt;
}

.aside-left {
    min-height: 100vh;
    max-width: 15vw;
    background: #89A0FF;
    color: #F5F7F7;
}

.aside-left h4 {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.aside-left li {
    text-align: left;
    margin-left: 3vw;
    margin-bottom: 1vw;
}

.aside-right {
    background: #8898B9;
    margin-left: auto;
    min-height: 100vh;
    max-width: 15vw;
    color: #F5F7F7;
}

.aside-right h4 {
    margin: 1vw 2vw 1vw 2vw;
    font-size: 12pt;
}

.article {
    overflow:hidden;
    padding-top: 3vh;
    padding-left: 2vw;
    margin-bottom: 2vh;
}

.article-home p {
   margin-left: 0vw;
}

.article-home img {
    margin-right: 1vw;
    margin-bottom: 5vh;
    float: left;
}

.article-about img {
    margin-left: 2vw;
    margin-right: 12vw;
    margin-bottom: 5vh;

    float: right;
}

.article-projects img {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 5vh;
    float: right;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.item-1 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.contact-container {
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 20px;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 0vh;
    margin-right: 2vw;
    background: #89A0FF;
    color: #F5F7F7;
}

.contact-1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.contact-2 {
    text-align: left;
    margin-left: 4vw;
}

.contact-3 {
    text-align: left;
}


hr.line-break {
    width: 70%;
}

#bootstrap-overrides .navlink a:visited {
    color: #010615;
}

#bootstrap-overrides .navlink a:hover, a:active {
    color: #8898B9;
}

#bootstrap-overrides .navlink a {
    color: #F5F7F7;
}

#bootstrap-overrides p {
    font-family: Helvetica;
    font-weight: lighter;
}

p {
    font-weight: lighter;
    font-size: 12pt;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
}

@media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }

    .aside-left {
        order: 1;
    }

    .main {
        order: 2;
    }

    .aside-right {
        order: 3;
    }

    .footer {
        order: 4;
        text-align: center;
    }

    .footer p {
        margin-top: 1vw;
        margin-bottom: .5vw;
    }
}